@import url('../../Tema/TemaPadrao.css');

.background {
  background: var(--backgroundB1);
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  z-index: 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-left: 8vw;
  padding: 60px;
}
.containerLogo {
  display: flex;
  gap: 12px;
  align-items: center;
  cursor: default;
  justify-self: center;
  margin-right: 20vw;
  z-index: 999;
}

.logo {
  font-size: var(--tituloGrande);
  font-weight: var(--regular);
  font-family: var(--poppins);
  color: var(--cinzaC1);
}
