@import url('../../../Tema/TemaPadrao.css');

.label {
  display: block;
  margin-bottom: 12px;
  color: var(--cinzaC9);
  font-family: var(--poppins);
  font-weight: var(--regular);
  font-size: var(--mediumSize);
}

input {
  position: relative;
  width: 100%;
  background: none;
  border: none;
  border-bottom: 3px solid var(--cinzaC4);
  color: var(--cinzaC10);
  font-size: 1rem;
  padding-bottom: 4px;
  transition: border-color 0.3s;
}

input:focus {
  outline: 0;
  border-bottom: 3px solid var(--azulPrimario);
}

.containerSenha {
  display: flex;
  position: relative;
}

.button {
  border: none;
  background: none;
  position: absolute;
  right: 0;
  bottom: 4px;
  background: var(--cinzaC1);
  z-index: 999;
  width: 32px;
}
