:root {
  --azulPrimario: #1e90ff;
  --cinzaC1: #f5f7fa;
  --cinzaC4: #c0c5cc;
  --cinzaC9: #474d59;
  --cinzaC10: #363b47;
  --cinzaC11: #242833;

  --vermelhoErro: #ff414c;

  --backgroundB1: url('../../public/visual/img/background.jpg');
}
