:root {
  --poppins: 'Poppins', sans-serif;
  --roboto: 'Roboto', sans-serif;

  --regular: 400;
  --medium: 500;

  --smallSize: 0.75rem;
  --mediumSize: 1rem;
  --bigSize: 1.25rem;
  --XLSize: 1.5rem;
  --XXLSize: 1.75rem;
  --tituloGrande: 2rem;
}
