.containerGeral {
  box-sizing: border-box;
  max-width: 1200px;
  padding: 0px 20px;

  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

body,
h1,
h2,
ul,
li,
p,
dd,
dt,
dl {
  margin: 0px;
  padding: 0px;
  font-size: inherit;
  font-weight: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}
